*.pyc
docs/_build/*
docs/_static/*
openrem/remapp/migrations/0*
.idea
openrem/openremproject/local_settings.py
openrem/openremproject/wsgi.py

#  Testing related bits
.tox
OpenREM.egg-info/
.coverage
coverage.xml