{% extends "base.html" %}

{% block headextras %}
    <!-- Custom styles for registration template -->
    <link href="{{ STATIC_URL }}css/registration.css" rel="stylesheet">
{% endblock %}

{% block mainblock %}
    <div class="container">
      <form class="form-signin" role="form"  method="post" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Change password</h2>
        {% if form.errors %}
          <p>Correct the error(s) below</p>
          <p>{{ form.old_password.errors }}</p>
          <p>{{ form.new_password1.errors }}</p>
          <p>{{ form.new_password2.errors }}</p>
        {% endif %}
        <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Old password" required>
        <input type="password" class="form-control" name="new_password1" id="new_password1" placeholder="New password" required>
        <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="New password confirmation" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
