.openrem-toprow {
  padding-top: 15px;
}

table.row-clickable tbody tr td {
  padding: 0;
}

table.row-clickable tbody tr td a {
  display: block;
  padding: 8px;
  color: #000;
}

table.row-clickable tbody tr td a:hover,
table.row-clickable tbody tr td a:focus {
    color: #2a6496;
    text-decoration: underline;
}

table.row-clickable tbody tr th {
    background-color: #d9edf7;
}

a.sorting-option {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

div.ajax-progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 25%;
  left: 50%;
  border: none;
}

div.ajax-error {
  position: fixed;
  display: none;
  width: 150px;
  top: 25%;
  left: 50%;
  margin-left: -75px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #eee;
}