<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OpenREM Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ed McDonagh">
    <meta name="copyright" content="2013 The Royal Marsden NHS Foundation Trust">
    <meta name="licence" content="GPLv3">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  	<link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.2.custom.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="../assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>
</head>
	
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/openrem/">OpenREM</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        <a href="" class="btn btn-small btn-primary">Sign In</a>
                    </p>
                    <ul class="nav">
                        <li><a href="/openrem/">Home</a></li>
                        <li><a href="/openrem/ct">CT</a></li>
                        <li><a href="/openrem/rf">Fluoroscopy</a></li>
                        <li><a href="/openrem/mg">Mammography</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                {% block col1 %}
                {% endblock %}
            </div><!--/span-->
            <div class="span3">
                {% block col2 %}
                {% endblock %}
            </div><!--/span-->
        </div><!--/row-->
        <hr>
        <footer>
            <p>Footer section</p>
        </footer>
    </div><!--/.fluid-container-->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>
