{% extends "remapp/home.html" %}

            {% block navbar %}
            <li><a href="/openrem/auth/ct">CT</a></li>
            <li><a href="/openrem/auth/rf">Fluoroscopy</a></li>
            <li><a href="/openrem/auth/mg">Mammography</a></li>
            {% endblock %}


          {% block loginlink %}
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text navbar-right"><span class="glyphicon glyphicon-user"></span> {{ user.get_full_name }} - <a href="/logout/" class="navbar-link">Logout</a></p>
          </ul>
          {% endblock %}
