{#<h3> all tasks </h3>#}
{#<table class="table sortable" id="celeryTaskTable">#}
{#  <tr>#}
{#    <th id="uuid" onclick="updateSort(this.id, 'user_click');">UUID</th>#}
{#    <th id="task" onclick="updateSort(this.id, 'user_click');">Task</th>#}
{#    <th id="received" onclick="updateSort(this.id, 'user_click');">Received</th>#}
{#    <th id="started" onclick="updateSort(this.id, 'user_click');">Started</th>#}
{#    <th id="state" onclick="updateSort(this.id, 'user_click');">Current state</th>#}
{#    <th>Terminate</th>#}
{#  </tr>#}
{#  {% for task in tasks %}#}
{#  <tr>#}
{#  <td>{{ task.uuid }}</td>#}
{#      <td>{{ task.name }}</td>#}
{#  <td>{{ task.received }}</td>#}
{#  <td>{{ task.started }}</td>#}
{#  <td>{{  task.state }}</td>#}
{#      <td>#}
{#        {% if task.state == 'STARTED' %}#}
{#          <a class="btn btn-danger" href="{% url 'celery_abort' task_id=task.uuid type=task.type %}" role="button">#}
{#            Terminate task#}
{#          </a>#}
{#        {% else %}#}
{#          <a class="btn btn-default" disabled="disabled">Terminate task</a>#}
{#        {% endif %}#}
{#      </td>#}
{#</tr>#}
{#{% endfor %}#}
{#</table>#}
<table class="table">
  <tr>
    <th>UUID</th>
    <th>Task</th>
    <th>Received</th>
    <th>Started</th>
    <th>Current state</th>
    <th>Terminate</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.uuid }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.received }}</td>
      <td>{{ task.started }}</td>
      <td>{{ task.state }}</td>
      <td>
        {% if task.state == 'STARTED' %}
          <a class="btn btn-danger" href="{% url 'celery_abort' task_id=task.uuid type=task.type %}" role="button">
            Terminate task
          </a>
        {% else %}
          <a class="btn btn-default" disabled="disabled">Terminate task</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

{#<script>#}
{#    $(document).ready(function () {#}
{#        var taskTableRecent = document.getElementById("celeryTaskTableRecent");#}
{#        sorttable.makeSortable(taskTableRecent);#}
{#        updateSort(sort_info.heading);#}
{#    });#}
{#</script>#}
