{% extends "remapp/base.html" %}

{% block headextras %}
  <script src="{{ STATIC_URL }}js/sorttable.js"></script>
{% endblock %}

{% block confnav %}
  <li class="dropdown active">{% endblock %}

{% block navhelp %}
  <li>
    <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/rabbitmq_management.html"
       target="_blank" data-toggle="tooltip" title="Celery management documentation - opens in a new tab">
      Celery management documentation
    </a>
  </li>
{% endblock %}

{% block mainblock %}


  {% if admin.admingroup %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Task administration</h3>
        <span id="service_status"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <script>
            function updateSort(heading, source) {
                if (typeof source === "undefined") {
                    source = null;
                }

                if (heading.indexOf("recent") !== -1) sort_info_recent.heading = heading;
                else sort_info_older.heading = heading;

                if (source === 'user_click') {
                    // It's a user-generated call and the headings already match
                    // so reverse the sorting direction
                    if (heading.indexOf("recent") !== -1) {
                        sort_info_recent.direction = sort_info_recent.direction === "ascending" ? "descending" : "ascending";
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    }
                    else {
                        sort_info_older.direction = sort_info_older.direction === "ascending" ? "descending" : "ascending";
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    }
                }

                if (heading.indexOf("recent") !== -1) {
                    if (sort_info_recent.direction === "ascending") {
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    } else {
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    }
                }
                else {
                    if (sort_info_older.direction === "ascending") {
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    } else {
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                        sorttable.innerSortFunction.apply(document.getElementById(heading), []);
                    }
                }
            }

            sort_info_recent = {
                heading: "received_recent",
                direction: "ascending"
            };
            sort_info_older = {
                heading: "received_older",
                direction: "ascending"
            };

            $(document).ready(
                function tasks_update_active(json) {
                    $.ajax({
                        url: "{% url 'celery_tasks' stage='active' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#activetasks').html(data);
                            setTimeout(function () {
                                tasks_update_active();
                            }, 2000);
                        }
                    })
                }
            );
            $(document).ready(
                function tasks_update_recent(json) {
                    $.ajax({
                        url: "{% url 'celery_tasks' stage='recent' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#recenttasks').html(data);
                            setTimeout(function () {
                                tasks_update_recent();
                            }, 5000);
                        }
                    })
                }
            );
            $(document).ready(
                function tasks_update_recent(json) {
                    $.ajax({
                        url: "{% url 'celery_tasks' stage='older' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#oldertasks').html(data);
                            setTimeout(function () {
                                tasks_update_recent();
                            }, 11000);
                        }
                    })
                }
            );
            $(document).ready(
                function tasks_update_recent(json) {
                    $.ajax({
                        url: "{% url 'task_service_status' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#service_status').html(data);
                            setTimeout(function () {
                                tasks_update_recent();
                            }, 2000);
                        }
                    })
                }
            )
        </script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h3>Active tasks</h3>


        <p id="activetasks">
          The list of tasks should appear here...
        </p>


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="recentTasksHeading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#recentTasks" aria-expanded="true"
                   aria-controls="recentTasks">
                  Recent tasks
                </a>
              </h4>
            </div>
            <div id="recentTasks" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="recentTasksHeading">
              <div class="panel-body">

                <span id="recenttasks"></span>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="olderTasksHeading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#olderTasks" aria-expanded="true"
                   aria-controls="olderTasks">
                  Older tasks
                </a>
              </h4>
            </div>
            <div id="olderTasks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="olderTasksHeading">
              <div class="panel-body">

                <span id="oldertasks"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  {% else %}

    <div class="row col-md-offset-2">
      <h3>Celery administration </h3>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          This function can only be accessed if you are logged in to OpenREM with admin
          permissions.
        </p>
      </div>
    </div>

  {% endif %}




{% endblock %}


