{% extends "remapp/base.html" %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}		

      <div class="row col-md-offset-2">
        <h3>Create or modify remote DICOM Query Retrieve Service Class Providers</h3>
        {% if admin.admingroup %}
            {% load crispy_forms_tags %}
            {% crispy form %}
        {% else %}
            <p>Only users in the Admin group can create or modify DICOM QR SCP entries.</p>
        {% endif %}
      </div>

{% endblock %}	
