{% extends "remapp/base.html" %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}

      <div class="row col-md-offset-2">
        <h1>DICOM Network configuration</h1>
      </div>

    {% if admin.admingroup %}
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Are you sure you want to remove this DICOM Store SCP?</h3>
          </div>
          <div class="panel-body">

              <table>
                  <tr>
                      <th>AE Title</th>
                      <td>{{ object.aetitle }}</td>
                  </tr>
                  <tr>
                      <th>Port</th>
                      <td>{{ object.port }}</td>
                  </tr>
                  <tr>
                      <th>Currently enabled?</th>
                      <td>{{ object.enabled }}</td>
                  </tr>
              </table>

          <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Delete!"/>
              <input type="button" value="No, changed my mind..." onclick="window.history.go(-1);" />
          </form>

        </div>
      </div>
      </div>
    </div>
    {% else %}
      <div class="row col-md-offset-2">
        <p>Only users in the Admin group can delete DICOM Store SCP entries.</p>
      </div>
    {% endif %}



{% endblock %}	
