{% extends "remapp/base.html" %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/netdicom-nodes.html#query-retrieve-of-third-party-system-such-as-a-pacs-or-modality" target="_blank" data-toggle="tooltip" title="DICOM QR configuration documentation - opens in a new tab">
                DICOM query retrieve node configuration documentation
            </a>
        </li>
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/netdicom.html" target="_blank" data-toggle="tooltip" title="DICOM Store and QR documentation - opens in a new tab">
                DICOM store and query-retrieve documentation
            </a>
        </li>
{% endblock %}

{% block mainblock %}		

      <div class="row col-md-offset-2">
        <h3>Create or modify remote DICOM Query Retrieve Service Class Providers</h3>
        {% if admin.admingroup %}
            {% load crispy_forms_tags %}
            {% crispy form %}
        {% else %}
            <p>Only users in the Admin group can create or modify DICOM QR SCP entries.</p>
        {% endif %}
      </div>

{% endblock %}	
