{% extends "remapp/base.html" %}

{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/charts.html#chart-options" target="_blank" data-toggle="tooltip" title="Chart options documentation - opens in a new tab">
                Chart options documentation
            </a>
        </li>
{% endblock %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block toprow %}
{% endblock %}

{% block mainblock %}

  <form action="" method="post" class="form-horizontal" role="form">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h3 class="panel-title">General chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ GeneralChartOptionsForm }}
        </table>
        <input class="btn btn-default" name="submit" type="submit" />
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">CT chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ CTChartOptionsForm }}
        </table>
        <input class="btn btn-default" name="submit" type="submit" />
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Radiographic chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ DXChartOptionsForm }}
        </table>
        <input class="btn btn-default" name="submit" type="submit" />
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Fluoroscopy chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ RFChartOptionsForm }}
        </table>
        <input class="btn btn-default" name="submit" type="submit" />
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Mammography chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ MGChartOptionsForm }}
        </table>
        <input class="btn btn-default" name="submit" type="submit" />
      </div>

    </div>
  </form>

{% endblock %}