{% extends "remapp/base.html" %}
{% block navbar %}
            <li><a href="/openrem/ct">CT</a></li>
            <li><a href="/openrem/rf">Fluoroscopy</a></li>
            <li><a href="/openrem/rf">Mammography</a></li>
            <li class="active"><a href="/openrem/dx">Radiography</a></li>
{% endblock %}


{% block mainblock %}		

<h1>Detail list of events</h1>

<ul>
    <li>Accession number: {{ general_study_module_attributes.accession_number }}</li>
    <li>Study date: {{ general_study_module_attributes.study_date }}</li>
    <li>Study time: {{ general_study_module_attributes.study_time }}</li>
    <li>Study description: {{ general_study_module_attributes.study_description }}</li>
    <li>Requested procedure: {{ general_study_module_attributes.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ general_study_module_attributes.patient_study_module_attributes_set.get.patient_age_decimal|floatformat:1 }}</li>
    <li>Patient height and weight: {{ general_study_module_attributes.patient_study_module_attributes_set.get.patient_size|floatformat:0 }} cm, {{ general_study_module_attributes.patient_study_module_attributes_set.get.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ general_study_module_attributes.general_equipment_module_attributes_set.get.institution_name }}</li>
    <li>
        X-ray system:
        {{ general_study_module_attributes.general_equipment_module_attributes_set.get.manufacturer }} |
        {{ general_study_module_attributes.general_equipment_module_attributes_set.get.manufacturer_model_name }} |
        {{ general_study_module_attributes.general_equipment_module_attributes_set.get.station_name }}        
    </li>
    <li>Study UID: {{ general_study_module_attributes.study_instance_uid }}</li>
    <li>Test patient indicators? {{ general_study_module_attributes.patient_module_attributes_set.get.not_patient_indicator }}</li>
    <li>Number of events: {{ general_study_module_attributes.projection_xray_radiation_dose_set.get.irradiation_event_xray_data_set.count }}</li>
    <li>
        Total DAP:
        {{ general_study_module_attributes.projection_xray_radiation_dose_set.get.accumulated_xray_dose_set.get.accumprojxraydose_set.get.convert_gym2_to_cgycm2|floatformat:1 }}
        cGy.cm<sup>2</sup>
    </li>
</ul>

<table class="table table-striped table-bordered">
    <th>Time</th>
    <th>Protocol</th>
    <th>View</th>
    <th>kVp</th>
    <th>mAs</th>
    <th>mA</th>
    <th>Time<br>(ms)</th>
    <th>Filters<br>(mm)</th>
    <th>SID<br>(mm)</th>
    <th>Grid FD<br>(mm)</th>
    <th>Exposure Index<br>IEC</th>
    <th>Exposure Index<br>vendor</th>
    <th>DAP<br>(cGy.cm<sup>2</sup>)</th>
    <th>Control mode</th>
    {% for event in general_study_module_attributes.projection_xray_radiation_dose_set.get.irradiation_event_xray_data_set.all %}
    <tr>
        <td>{{ event.date_time_started|time:"H:i.s" }}</td>
        <td>{{ event.acquisition_protocol }}</td>
        <td>{{ event.image_view }}</td>
        <td>{{ event.irradiation_event_xray_source_data_set.get.kvp_set.get.kvp|floatformat:0 }}</td>
        <td>{{ event.irradiation_event_xray_source_data_set.get.exposure_set.get.convert_uAs_to_mAs|floatformat:1 }}</td>
        <td>{{ event.irradiation_event_xray_source_data_set.get.average_xray_tube_current|floatformat:0 }}</td>
        <td>{{ event.irradiation_event_xray_source_data_set.get.exposure_time|floatformat:0 }}</td>
        <td>
            {% for xrayfilt in event.irradiation_event_xray_source_data_set.get.xray_filters_set.all %}
                {% if xrayfilt.xray_filter_material.code_value == 'C-120F9' %}
                    Al: {{ xrayfilt.xray_filter_thickness_minimum }} - {{ xrayfilt.xray_filter_thickness_maximum }} <br>
                {% elif xrayfilt.xray_filter_material.code_value == 'C-127F9' %}
                    Cu: {{ xrayfilt.xray_filter_thickness_minimum }} - {{ xrayfilt.xray_filter_thickness_maximum }} <br>
                {% else %}
                    {{ xrayfilt.xray_filter_material.code_meaning }}: {{ xrayfilt.xray_filter_thickness_minimum }} - {{ xrayfilt.xray_filter_thickness_maximum }} <br>
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ event.irradiation_event_xray_mechanical_data_set.get.dose_related_distance_measurements_set.get.distance_source_to_detector|floatformat:0 }}</td>
        <td>
            {{ event.irradiation_event_xray_source_data_set.get.grid_focal_distance|floatformat:0 }}
        </td>
        <td>
            EI: {{ event.irradiation_event_xray_detector_data_set.get.exposure_index|floatformat:1 }} <br>
            EI<sub>T</sub>: {{ event.irradiation_event_xray_detector_data_set.get.target_exposure_index|floatformat:1 }} <br>
            DI: {{ event.irradiation_event_xray_detector_data_set.get.deviation_index|floatformat:1 }}
        </td>
        <td>
            {{ event.irradiation_event_xray_detector_data_set.get.relative_xray_exposure|floatformat:0 }}
            {{ event.irradiation_event_xray_detector_data_set.get.relative_exposure_unit }}
        </td>
        <td>{{ event.convert_gym2_to_cgycm2|floatformat:1 }}</td>
        <td>{{ event.irradiation_event_xray_source_data_set.get.exposure_control_mode }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}	
