{% extends "remapp/filteredbase.html" %}

{% block navbar %}
            <li><a href="/openrem/ct">CT</a></li>
            <li><a href="/openrem/rf">Fluoroscopy</a></li>
            <li><a href="/openrem/rf">Mammography</a></li>
            <li class="active"><a href="/openrem/dx">Radiography</a></li>
{% endblock %}

{% block toprow %}
      {% load pagination_tags %}
      <p>
        There are {{ filter.count }} studies in this list.
      </p>

        {% if admin.exportperm or admin.adminperm %}
        <ul>
          <li><a href="/openrem/exportdxcsv1/?{{ request.GET.urlencode }}">Export to CSV</a> </li>
          <li><a href="/openrem/exportdxxlsx1/?{{ request.GET.urlencode }}">Export to XLSX</a></li>
        </ul>
        {% else %}
        <p>
          Sorry, you don't have enough permissions to enable study export.
        </p>
        {% endif %}
{% endblock %}

{% block col2 %}


    {{ studyfilter }}

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Exam filter</h3>
            </div>
            <div class="panel-body">
                <i>Date format yyyy-mm-dd</i>
                <form action="" method="get" class="form-horizontal" role="form">
                        {% for field in filter.form %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>{{ field.label_tag }}</label>
                                </div>
                                <div class="col-xs-8">
                                  {{ field.errors }}
                                  {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </table>
                    <input type="submit" />
                </form> 
            </div>
          </div>
    
<script>
$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true
    });
</script>

{% endblock %}

{% block col1 %}
    {% autopaginate filter.qs 50 as filter_list %}
    {% paginate %}

    <table class="table table-striped">
        <th>Institution</th><th>Make | Model | Station name</th><th>Date</th><th>Protocol | Accession number</th><th>Number of events</th><th>Total DAP (cGy.cm<sup>2</sup>)</th>
        {% if admin.adminperm %}
        <th>Delete?</th>
        {% endif %}
        {% for exam in filter_list %}
        <tr>
            <td>{{ exam.general_equipment_module_attributes_set.get.institution_name }}</td>
            <td>
                {{ exam.general_equipment_module_attributes_set.get.manufacturer }} | 
                {{ exam.general_equipment_module_attributes_set.get.manufacturer_model_name }} |
                {{ exam.general_equipment_module_attributes_set.get.station_name }}
            </td>
            <td>{{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
            <td>
                <a href="/openrem/dx/{{ exam.id }}/">{{ exam.procedure_code_meaning }}</a> |
                {{ exam.accession_number }}
            </td>
            <td>{{ exam.projection_xray_radiation_dose_set.get.irradiation_event_xray_data_set.count }}</td>
            <td>{{ exam.projection_xray_radiation_dose_set.get.accumulated_xray_dose_set.get.accumulated_projection_xray_dose_set.get.convert_gym2_to_cgycm2 | floatformat:1 }}</td>
            {% if admin.adminperm %}
            <td>
              <a href="{% url 'study_delete' exam.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% paginate %}
 
{% endblock %}

{% block plotdata %}
{% if acquisitionSummary %}
<!-- HTML to include div container for acquisition plot -->
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Plot of currently filtered data. Click this text to toggle between hidden and visible.
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
         <div id="container" style="width: 95%; height: 600px; margin: 0 0"></div>
         <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
         <p>Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin.
         Note that this will include acquisitions at the upper bin boundary, so in some cases may display
         more data than shown in the histogram bin.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of HTML to include div for acquisition plot -->


<!-- HTML to include div container for acquisition pie chart -->
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseProtocolPieChart">
          Pie chart showing a breakdown of acquisition protocol frequency.
        </a>
      </h4>
    </div>
    <div id="collapseProtocolPieChart" class="panel-collapse collapse">
      <div class="panel-body">
         <div id="piechartProtocolDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
      </div>
    </div>
  </div>
</div>
<!-- End of HTML to include div container for acquisition pie chart -->


<!-- HTML to include div container for pie chart of acquisitions per week day pie chart -->
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseProtocolWorkloadPieChart">
          Pie chart showing a breakdown of number of acquisitions per weekday.
        </a>
      </h4>
    </div>
    <div id="collapseProtocolWorkloadPieChart" class="panel-collapse collapse">
      <div class="panel-body">
         <div id="piechartProtocolWorkloadDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
      </div>
    </div>
  </div>
</div>
<!-- End of HTML to include div container for acquisition pie chart -->


<!-- Include JavaScript to enable highcharts plots -->
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/exporting.js"></script>
<script src="{{ STATIC_URL }}js/drilldown.js"></script>
<!-- End of include JavaScript for the plots -->


<!-- JavaScript function to sort a list of objects by the 'y' object.
     This must be positioned above the functions first use. -->
<script>
function sort_by_y(a,b) {
    return ((a.y < b.y) ? -1 : ((a.y > b.y) ? 1 : 0)); // a[1] for col. 2 etc...
}
</script>
<!-- End of JavaScript function to sort a list of objects by the 'y' object -->


<!-- JavaScript for acquisition plot -->
<script>
var protocolNames     = [
                        {% for name in acquisitionSummary %}
                            "{{name.projection_xray_radiation_dose__irradiation_event_xray_data__acquisition_protocol}}"
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var protocolCounts    = [
                        {% for protocol in acquisitionHistogramData %}
                            [
                            {% for dataCounts in protocol.0 %}
                                {{dataCounts}}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var protocolBins      = [
                        {% for protocolEdges in acquisitionHistogramData %}
                            [
                            {% for edges in protocolEdges.1 %}
                                {{edges}}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var seriesData        = [
                        {% for testData in acquisitionSummary %}
                            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.mean_dap}}*1000000,drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var seriesDataN       = [
                        {% for testData in acquisitionSummary %}
                            '{{testData.num_acq}}'
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var seriesDrilldown   = [
                        {% for protocolCountsArray in acquisitionHistogramData %}
                            {id: protocolNames[{{forloop.counter}}-1],name: protocolNames[{{forloop.counter}}-1],useHTML: true,data: [
                            {% for dataCounts in protocolCountsArray.0 %}
                                [protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}]}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
</script>

<script type="text/javascript">
$(function () {

var drilldownTitle = 'Histogram of ';
var defaultTitle   = 'Mean DAP per acquisition protocol';
var tooltipData = [2];

var chart = new Highcharts.Chart({
        chart: {
            type: 'column',
            renderTo: 'container',
            events: {
                drilldown: function(e) {
                    tooltipData[0] = protocolNames[e.point.x];
                    tooltipData[1] = e.point.x;
                    chart.setTitle({ text: drilldownTitle + e.point.name}, { text: '(n = ' + seriesDataN[e.point.x] +')' });
                    chart.yAxis[0].setTitle({text:'Number'});
                    chart.xAxis[0].setTitle({text:'DAP range (cGy.cm<sup>2</sup>)'});
                    chart.xAxis[0].setCategories([], true);
                    chart.xAxis[0].update({labels:{rotation:0}});
                    chart.tooltip.options.formatter = function() {
                        var xyArr=[];
                        $.each(this.points,function(){
                            var tooltipFilters = '{% for field in filter.form %}{% if field.name != 'acquisition_dap_min' and field.name != 'acquisition_dap_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
                            var linkText = 'acquisition_dap_min=' + (protocolBins[tooltipData[1]][this.x])/1000000 + '&acquisition_dap_max=' + (protocolBins[tooltipData[1]][this.x+1])/1000000 + '&acquisition_protocol=' + tooltipData[0];
                            xyArr.push('<table style="text-align: center"><tr><td>' + this.y.toFixed(0) + ' exposures</td></tr><tr><td><a href="/openrem/dx/hist/?acquisitionhist=1&' + linkText + tooltipFilters + '">Click to view</a></td></tr></table>');
                        });
                        return xyArr.join('<br/>');
                    }
                },
                drillup: function(e) {
                    chart.setTitle({ text: defaultTitle }, { text: '' });
                    chart.yAxis[0].setTitle({text:'Mean DAP (cGy.cm<sup>2</sup>)'});
                    chart.xAxis[0].setTitle({text:'Protocol name'});
                    chart.xAxis[0].setCategories(protocolNames, true);
                    chart.xAxis[0].update({labels:{rotation:90}});
                    chart.tooltip.options.formatter = function() {
                        var xyArr=[];
                        $.each(this.points,function(){
                            var index = protocolNames.indexOf(this.x);
                            xyArr.push(this.x + '<br/>' + this.y.toFixed(1) + ' cGy.cm<sup>2</sup>' + '<br/>(n=' + seriesDataN[index] + ')');
                        });
                        return xyArr.join('<br/>');
                    }
                }
            }
        },
        title: {
            text: 'Mean DAP per acquisition protocol'
        },
        legend: {
            enabled: false
        },
        xAxis: {
            categories: protocolNames,
            title: {
                useHTML: true,
                text: 'Protocol name'
            },
            labels: {
                rotation:90
            }
        },
        yAxis: {
            min: 0,
            title: {
                useHTML: true,
                text: 'Mean DAP (cGy.cm<sup>2</sup>)'
            }
        },
        tooltip: {
            formatter: function () {
                var index = protocolNames.indexOf(this.x);
                var comment = this.x + '<br/>' + this.y.toFixed(1) + ' cGy.cm<sup>2</sup>' + '<br/>(n=' + seriesDataN[index] + ')';
                return comment;
            },
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Mean DAP per acquisition protocol',
            data: seriesData
        }],
        drilldown: {
            series: seriesDrilldown
        }
    });
});
</script>
<!-- End of JavaScript for acquisition plot -->


<!-- JavaScript for acquisition pie chart -->
<script>
var urlStart = '/openrem/dx/?{% for field in filter.form %}{% if field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&acquisition_protocol=';
var protocolPiechartData = new Array(protocolNames.length);
for(var i=0; i<protocolNames.length; i++) {
    protocolPiechartData[i] = {name:protocolNames[i], y:parseInt(seriesDataN[i]), url:urlStart+protocolNames[i]};
}
protocolPiechartData.sort(sort_by_y);

$(function () {

var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'piechartProtocolDIV',
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{point.percentage:.1f} %<br/>n={point.y}'
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} % (n={point.y})',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Study frequency',
            point: {
                events: {
                    click: function(e) {
                        location.href = e.point.url;
                        e.preventDefault();
                    }
                }
            },
            data: protocolPiechartData
        }]
    });
});
</script>
<!-- End of JavaScript for acquisition pie chart -->


<!-- JavaScript for acquisitions per weekday pie chart with drilldown to hourly breakdown -->
<script>
var dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

var acquisitionsPerHourEachWeekday = [
                      {% for dayCounts in acquisitionsPerHourInWeekdays %}
                          [
                          {% for hourCounts in dayCounts %}
                              {{hourCounts}}
                              {% if not forloop.last %},{% endif %}
                          {% endfor %}
                          ]
                          {% if not forloop.last %},{% endif %}
                      {% endfor %}
                      ];
var acquisitionsPerWeekday = new Array(7);
for(var i=0; i<7; i++) {
    var tempTotal = 0;
    for(var j=0; j<24; j++) {
        tempTotal = tempTotal + acquisitionsPerHourEachWeekday[i][j];
    }
    acquisitionsPerWeekday[i] = tempTotal;
}

var seriesDrillDownPieChart   = [
                        {% for dayCounts in acquisitionsPerHourInWeekdays %}
                            {id:dayNames[{{forloop.counter}}-1], name:dayNames[{{forloop.counter}}-1], useHTML:true, type:'pie', data: [
                            {% for hourCounts in dayCounts %}
                                ['{{forloop.counter}}', acquisitionsPerHourEachWeekday[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1]]{% if not forloop.last %},{% endif %}
                            {% endfor %}]}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];

var protocolWorkloadPieChartData= new Array(7);
for(var i=0; i<7; i++) {
    protocolWorkloadPieChartData[i] = {name:dayNames[i], y:acquisitionsPerWeekday[i], drilldown:dayNames[i]};
}

$(function () {

var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'piechartProtocolWorkloadDIV',
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{point.percentage:.1f} %<br/>n={point.y}'
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} % (n={point.y})',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Acquisitions per day of the week',
            data: protocolWorkloadPieChartData
        }],
        drilldown: {
            series:seriesDrillDownPieChart
        }
    });
});
</script>
<!-- End of JavaScript for acquisition pie chart -->


<!-- JavaScript to remove the hyper links from x-axis data labels in the plots -->
<script>
(function (H) {
    H.wrap(H.Point.prototype, 'init', function (proceed, series, options, x) {
        var point = proceed.call(this, series, options, x),
            chart = series.chart,
            tick = series.xAxis && series.xAxis.ticks[x],
            tickLabel = tick && tick.label;

        if (point.drilldown) {

            // Add the click event to the point label
            H.addEvent(point, 'click', function () {
                point.doDrilldown();
            });

            // Make axis labels click-able
            if (tickLabel) {
                if (!tickLabel._basicStyle) {
                    tickLabel._basicStyle = tickLabel.element.getAttribute('style');
                }
                tickLabel.addClass('highcharts-drilldown-axis-label')          .css({
                    'text-decoration': 'none',
                    'font-weight': 'normal',
                    'cursor': 'auto'
                    })
                    .on('click', function () {
                    if (point.doDrilldown) {
                        return false;
                    }
                });

            }
        } else if (tickLabel && tickLabel._basicStyle) {
        }

        return point;
    });
})(Highcharts);
</script>
<!-- End of JavaScript to remove the hyper links from x-axis data labels in the plots -->
{% endif %}
{% endblock %}
