{% extends "remapp/filteredbase.html" %}

{% block navbar %}
            <li><a href="/openrem/ct">CT</a></li>
            <li><a href="/openrem/rf">Fluoroscopy</a></li>
            <li><a href="/openrem/rf">Mammography</a></li>
            <li class="active"><a href="/openrem/dx">Radiography</a></li>
{% endblock %}

{% block toprow %}
      {% load pagination_tags %}
      <p>
        There are {{ filter.count }} studies in this list.
      </p>

        {% if admin.exportperm or admin.adminperm %}
        <ul>
          <li><a href="/openrem/exportdxcsv1/?{{ request.GET.urlencode }}">Export to CSV</a> </li>
          <li><a href="/openrem/exportdxxlsx1/?{{ request.GET.urlencode }}">Export to XLSX</a></li>
        </ul>
        {% else %}
        <p>
          Sorry, you don't have enough permissions to enable study export.
        </p>
        {% endif %}
{% endblock %}

{% block col2 %}


    {{ studyfilter }}

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Exam filter</h3>
            </div>
            <div class="panel-body">
                <i>Date format yyyy-mm-dd</i>
                <form action="" method="get" class="form-horizontal" role="form">
                        {% for field in filter.form %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>{{ field.label_tag }}</label>
                                </div>
                                <div class="col-xs-8">
                                  {{ field.errors }}
                                  {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </table>
                    <input type="submit" />
                </form> 
            </div>
          </div>
    
<script>
$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true
    });
</script>

{% endblock %}

{% block col1 %}
    {% autopaginate filter.qs 50 as filter_list %}
    {% paginate %}

    <table class="table table-striped">
        <th>Institution</th><th>Make | Model | Station name</th><th>Date</th><th>Protocol | Accession number</th><th>Number of events</th><th>Total DAP (cGy.cm<sup>2</sup>)</th>
        {% if admin.adminperm %}
        <th>Delete?</th>
        {% endif %}
        {% for exam in filter_list %}
        <tr>
            <td>{{ exam.general_equipment_module_attributes_set.get.institution_name }}</td>
            <td>
                {{ exam.general_equipment_module_attributes_set.get.manufacturer }} | 
                {{ exam.general_equipment_module_attributes_set.get.manufacturer_model_name }} |
                {{ exam.general_equipment_module_attributes_set.get.station_name }}
            </td>
            <td>{{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
            <td>
                <a href="/openrem/dx/{{ exam.id }}/">{{ exam.procedure_code_meaning }}</a> |
                {{ exam.accession_number }}
            </td>
            <td>{{ exam.projection_xray_radiation_dose_set.get.irradiation_event_xray_data_set.count }}</td>
            <td>{{ exam.projection_xray_radiation_dose_set.get.accumulated_xray_dose_set.get.accumulated_projection_xray_dose_set.get.convert_gym2_to_cgycm2 | floatformat:1 }}</td>
            {% if admin.adminperm %}
            <td>
              <a href="{% url 'study_delete' exam.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% paginate %}
 
{% endblock %}

{% block plotdata %}
{% if plotNames %}
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/exporting.js"></script>
<script src="{{ STATIC_URL }}js/drilldown.js"></script>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Plot of currently filtered data. Click this text to toggle between hidden and visible.
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
         <div id="container" style="width: 95%; height: 600px; margin: 0 0"></div>
         <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
      </div>
    </div>
  </div>
</div>

<script>
var protocolNames     = [
                        {% for name in plotNames %}
                            "{{name}}"
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var protocolCounts    = [
                        {% for protocol in histogramCounts %}
                            [
                            {% for dataCounts in protocol %}
                                {{dataCounts}}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var protocolBins      = [
                        {% for protocolEdges in histogramBinEdges %}
                            [
                            {% for edges in protocolEdges %}
                                {{edges}}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var seriesData        = [
                        {% for testData in plotData %}
                            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.0}},drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var seriesDataN       = [
                        {% for testData in plotData %}
                            '{{testData.1}}'
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
var seriesDrilldown   = [
                        {% for protocolCountsArray in histogramCounts %}
                            {id: protocolNames[{{forloop.counter}}-1],name: protocolNames[{{forloop.counter}}-1],useHTML: true,data: [
                            {% for dataCounts in protocolCountsArray %}
                                [protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' to < ' + protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}]}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ];
</script>

<script type="text/javascript">
$(function () {

var drilldownTitle = 'Histogram of ';
var defaultTitle   = 'Mean DAP per acquisition protocol';
var tooltipData = [2];

var chart = new Highcharts.Chart({
        chart: {
            type: 'column',
            renderTo: 'container',
            events: {
                drilldown: function(e) {
                    tooltipData[0] = protocolNames[e.point.x];
                    tooltipData[1] = e.point.x;
                    chart.setTitle({ text: drilldownTitle + e.point.name}, { text: '(n = ' + seriesDataN[e.point.x] +')' });
                    chart.yAxis[0].setTitle({text:'Number'});
                    chart.xAxis[0].setTitle({text:'DAP range (cGy.cm<sup>2</sup>)'});
                    chart.xAxis[0].setCategories([], true);
                    chart.tooltip.options.formatter = function() {
                        var xyArr=[];
                        $.each(this.points,function(){
                            var linkText = 'acquisition_dap_min=' + (protocolBins[tooltipData[1]][this.x])/1000000 + '&acquisition_dap_max=' + (protocolBins[tooltipData[1]][this.x+1])/1000000 + '&acquisition_protocol=' + tooltipData[0];
                            xyArr.push('<a href="/openrem/dx/?' + linkText + '">' + this.y.toFixed(0) + ' exposures.<br/>Click to see.</a>');
                        });
                        return xyArr.join('<br/>');
                    }
                },
                drillup: function(e) {
                    chart.setTitle({ text: defaultTitle }, { text: '' });
                    chart.yAxis[0].setTitle({text:'Mean DAP (cGy.cm<sup>2</sup>)'});
                    chart.xAxis[0].setTitle({text:'Protocol name'});
                    chart.xAxis[0].setCategories(protocolNames, true);
                    chart.tooltip.options.formatter = function() {
                        var xyArr=[];
                        $.each(this.points,function(){
                            var index = protocolNames.indexOf(this.x);
                            xyArr.push(this.x + '<br/>' + this.y.toFixed(1) + ' cGy.cm<sup>2</sup>' + '<br/>(n=' + seriesDataN[index] + ')');
                        });
                        return xyArr.join('<br/>');
                    }
                }
            }
        },
        title: {
            text: 'Mean DAP per acquisition protocol'
        },
        legend: {
            enabled: false
        },
        xAxis: {
            categories: protocolNames,
            title: {
                useHTML: true,
                text: 'Protocol name'
            }
        },
        yAxis: {
            min: 0,
            title: {
                useHTML: true,
                text: 'Mean DAP (cGy.cm<sup>2</sup>)'
            }
        },
        tooltip: {
            formatter: function () {
                var index = protocolNames.indexOf(this.x);
                var comment = this.x + '<br/>' + this.y.toFixed(1) + ' cGy.cm<sup>2</sup>' + '<br/>(n=' + seriesDataN[index] + ')';
                return comment;
            },
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Mean DAP per acquisition protocol',
            data: seriesData
        }],
        drilldown: {
            series: seriesDrilldown
        }
    });
});

(function (H) {
    H.wrap(H.Point.prototype, 'init', function (proceed, series, options, x) {
        var point = proceed.call(this, series, options, x),
            chart = series.chart,
            tick = series.xAxis && series.xAxis.ticks[x],
            tickLabel = tick && tick.label;

        if (point.drilldown) {

            // Add the click event to the point label
            H.addEvent(point, 'click', function () {
                point.doDrilldown();
            });

            // Make axis labels clickable
            if (tickLabel) {
                if (!tickLabel._basicStyle) {
                    tickLabel._basicStyle = tickLabel.element.getAttribute('style');
                }
                tickLabel.addClass('highcharts-drilldown-axis-label')          .css({
                    'text-decoration': 'none',
                    'font-weight': 'normal',
                    'cursor': 'auto'
                    })
                    .on('click', function () {
                    if (point.doDrilldown) {
                        return false;
                    }
                });

            }
        } else if (tickLabel && tickLabel._basicStyle) {
        }

        return point;
    });
})(Highcharts);
</script>
{% endif %}
{% endblock %}
