{% load humanize %}
{% load remappduration %}
<form action="/openrem/deletefile/" method="POST">
  <table class="table table-striped">
    <th>Exported</th>
    <th>Modality</th>
    <th>Export type</th>
    <th>No. records</th>
    <th>Export time</th>
    <th>User</th>
    <th>Download</th>
    <th>Delete?</th>
    {% for tsk in complete %}
      {% if not tsk.includes_pid or tsk.includes_pid and admin.pidgroup %}
        <tr>
          <td>{{ tsk.export_date|naturaltime }}</td>
          <td>{{ tsk.modality }}</td>
          <td>{{ tsk.export_type }}</td>
          <td>{{ tsk.num_records }}</td>
          <td>{{ tsk.processtime|naturalduration }} </td>
          <td>{{ tsk.export_user }}</td>
          <td><a href="/openrem/download/{{ tsk.task_id }}">{{ tsk.filename }}</a></td>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="tsk{{ tsk.task_id }}" value="{{ tsk.task_id }}">
              </label>
            </div>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td colspan="7"></td>
      <td>
        {% if complete.count > 0 %}
          <button type="submit" class="btn btn-default">Delete</button>
        {% endif %}
      </td>
    </tr>
  </table>
</form>
