{% extends "remapp/base.html" %}

{% block headextras %}
{% if current %}
<meta http-equiv="refresh" content="3" />
{% endif %}
{% endblock %}

{% block exportnav %}
            <li class="active">
{% endblock %}

{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_exporting.html" target="_blank" data-toggle="tooltip" title="Study export documentation - opens in a new tab">
                Study export
            </a>
        </li>
{% endblock %}



{% block mainblock %}		
   {% load humanize %}
   {% load remappduration %}
 
    {% if admin.exportgroup %}

    {% if current %}
    <h4>Export tasks in progress</h4>
    <table class="table table-striped">
        <th>Task ID</th><th>Exported</th><th>Modality</th><th>Export type</th><th>No. records</th><th>Progress</th><th></th>
        {% for tsk in current %}
        <tr>
            <td>{{ tsk.task_id }}</td>
            <td>{{ tsk.export_date|naturaltime }}</td>
            <td>{{ tsk.modality }}</td>
            <td>{{ tsk.export_type }}</td>
            <td>{{ tsk.num_records }}</td>
            <td>{{ tsk.progress }}</td>
            <td><a href="/openrem/export/abort/{{ tsk.pk }}" class="btn btn-danger">Abort</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    {% if errors %}
    <h4>Export tasks in error state</h4>
    <table class="table table-striped">
        <th>Task ID</th><th>Exported</th><th>Modality</th><th>Export type</th><th>No. records</th><th>Error message</th><th></th>
        {% for tsk in errors %}
        <tr>
            <td>{{ tsk.task_id }}</td>
            <td>{{ tsk.export_date|naturaltime }}</td>
            <td>{{ tsk.modality }}</td>
            <td>{{ tsk.export_type }}</td>
            <td>{{ tsk.num_records }}</td>
            <td>{{ tsk.progress }}</td>
            <td><a href="/openrem/export/abort/{{ tsk.pk }}" class="btn btn-default">Delete task</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    <h4>Completed export tasks</h4>
    <form action="/openrem/deletefile/" method="POST">
    <table class="table table-striped">
        <th>Exported</th>
        <th>Modality</th>
        <th>Export type</th>
        <th>No. records</th>
        <th>Export time</th>
        <th>User</th>
        <th>Download</th>
        <th>Delete?</th>
        {% for tsk in complete %}
            {% if not tsk.includes_pid or tsk.includes_pid and admin.pidgroup %}
                <tr>
                    <td>{{ tsk.export_date|naturaltime }}</td>
                    <td>{{ tsk.modality }}</td>
                    <td>{{ tsk.export_type }}</td>
                    <td>{{ tsk.num_records }}</td>
                    <td>{{ tsk.processtime|naturalduration }} </td>
                    <td>{{ tsk.export_user }}</td>
                    <td><a href="/openrem/download/{{ tsk.task_id }}">{{ tsk.filename }}</a></td>
                    <td>
                        <div class = "checkbox">
                            <label>
                                <input type="checkbox" name="tsk{{ tsk.task_id }}" value="{{ tsk.task_id }}">
                            </label>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="7"></td>
            <td>
            {% if complete.count > 0 %}
                <button type="submit" class = "btn btn-default">Delete</button>
            {% endif %}
            </td>
        </tr>
    </table>
    </form>

        {% else %}
        <p>
          Sorry, you don't have enough permissions to enable study export.
        </p>
        {% endif %}
    


{% endblock %}	

{% block jsblock %}


 
 
{% endblock %}
