<table class="table table-bordered table-hover row-clickable sortable">
  <tr>
    <th>Modality</th>
    <th>Number of studies</th>
  </tr>
  <tr class="clickable-row">
    <td><a href="/admin/review/failed/CT/" style="text-decoration: none">CT</a></td>
    <td><a href="/admin/review/failed/CT/" style="text-decoration: none">{{ failed.CT }}</a></td>
  </tr>
  <tr class="row-clickable">
    <td><a href="/admin/review/failed/RF/" style="text-decoration: none">Fluoro</a></td>
    <td><a href="/admin/review/failed/RF/" style="text-decoration: none">{{ failed.RF }}</a></td>
  </tr>
  <tr>
    <td><a href="/admin/review/failed/MG/" style="text-decoration: none">Mammography</a></td>
    <td><a href="/admin/review/failed/MG/" style="text-decoration: none">{{ failed.MG }}</a></td>
  </tr>
  <tr class="row-clickable">
    <td><a href="/admin/review/failed/DX/" style="text-decoration: none">Radiography</a></td>
    <td><a href="/admin/review/failed/DX/" style="text-decoration: none">{{ failed.DX }}</a></td>
  </tr>
</table>

