{% extends "remapp/base.html" %}


{% block headextras %}
    <!-- Bootstrap-datepicker CSS -->
    <!-- Bootstrap-datepicker JavaScript
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css">

    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/charts/chartCommonFunctions.js"></script>

    <!-- Internet Explorer (up to version 8) doesn't support array indexOf. The script
    below adds the functionality if it is missing. -->
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (obj, start) {
                for (var i = (start || 0), j = this.length; i < j; i++) {
                    if (this[i] === obj) {
                        return i;
                    }
                }
                return -1;
            }
        }
    </script>

    {% block headscript %}
    {% endblock %}
{% endblock %}


{% block mainblock %}


    <div class="row">

        <div class="col-md-9">
            {% block plotdata %}
            {% endblock %}

            {% block paginate_top %}
                {% if study_list.has_other_pages %}
                    {% load proper_paginate %}
                    {% load url_replace %}
                    <ul class="pagination">
                        {% if study_list.number == 1 %}
                            <li class="disabled"><span>⇤</span></li>
                        {% else %}
                            <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                        {% endif %}
                        {% if study_list.has_previous %}
                            <li><a class="page-link"
                                   href="?{% url_replace request 'page' study_list.previous_page_number %}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in study_list.paginator|proper_paginate:study_list.number %}
                            {% if study_list.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if study_list.has_next %}
                            <li><a class="page-link"
                                   href="?{% url_replace request 'page' study_list.next_page_number %}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                        {% if study_list.number == study_list.paginator.num_pages %}
                            <li class="disabled"><span>⇥</span></li>
                        {% else %}
                            <li><a class="page-link"
                                   href="?{% url_replace request 'page' study_list.paginator.num_pages %}">⇥</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

            {% endblock %}
            {% block col1 %}
            {% endblock %}
            {% block paginate_bottom %}
                {% if study_list.has_other_pages %}
                    <ul class="pagination">
                        {% if study_list.number == 1 %}
                            <li class="disabled"><span>⇤</span></li>
                        {% else %}
                            <li><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                        {% endif %}
                        {% if study_list.has_previous %}
                            <li><a class="page-link"
                                   href="?{% url_replace request 'page' study_list.previous_page_number %}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in study_list.paginator|proper_paginate:study_list.number %}
                            {% if study_list.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if study_list.has_next %}
                            <li><a class="page-link"
                                   href="?{% url_replace request 'page' study_list.next_page_number %}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                        {% if study_list.number == study_list.paginator.num_pages %}
                            <li class="disabled"><span>⇥</span></li>
                        {% else %}
                            <li><a class="page-link"
                                   href="?{% url_replace request 'page' study_list.paginator.num_pages %}">⇥</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>

        <div class="col-md-3">
            {% block col2 %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block jsblock %}
{% endblock %}

{% block navhelp %}
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_navigate.html" target="_blank"
           data-toggle="tooltip" title="Web interface documentation - opens in a new tab">
            Web interface documentation
        </a>
    </li>
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/charts.html" target="_blank" data-toggle="tooltip"
           title="Charts documentation - opens in a new tab">
            Charts documentation
        </a>
    </li>
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/charts.html#chart-options" target="_blank"
           data-toggle="tooltip" title="Chart options documentation - opens in a new tab">
            Chart options documentation
        </a>
    </li>
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_exporting.html" target="_blank"
           data-toggle="tooltip" title="Study export documentation - opens in a new tab">
            Study export documentation
        </a>
    </li>
    {% block filterednavhelp %}
    {% endblock %}
{% endblock %}
