{% extends "remapp/base.html" %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block mainblock %}

{% if admin.admingroup %}
  <div class="row col-md-offset-2">
    <h3>RabbitMQ administration </h3>
  </div>

  <div class="row">
  <div class="col-md-8 col-md-offset-2">
          <script>
              $(document).ready(
                      function default_len_update( json ){
                          $.ajax({
                              url: "{% url 'rabbitmq_default_queue_length' %}",
                              data: {
                                  csrfmiddlewaretoken: '{{ csrf_token }}'
                              },
                              type: "POST",
                              dataType: "json",
                              success: function( json ){
                                  $( '#default_len' ).html( json );
                                  setTimeout(function(){
                                      default_len_update();
                                  }, 2000);
                              }
                          })
                      }
              )
          </script>
  <p>
    The default RabbitMQ queue has <span id="default_len">?</span> messages currently.
  </p>
  </div>
  <div class="col-md-8 col-md-offset-2">
          <script>
              $(document).ready(
                      function queues_update( json ){
                          $.ajax({
                              url: "{% url 'rabbitmq_queues' %}",
                              data: {
                                  csrfmiddlewaretoken: '{{ csrf_token }}'
                              },
                              type: "POST",
                              success: function( data ){
                                  $( '#queues' ).html( data );
                                  setTimeout(function(){
                                      queues_update();
                                  }, 2000);
                              }
                          })
                      }
              )
          </script>
  <p id="queues">
    The list of queues should appear here...
  </p>
  </div>
  </div>


{% else %}

  <div class="row col-md-offset-2">
    <h3>RabbitMQ administration </h3>
  </div>

  <div class="row">
  <div class="col-md-8 col-md-offset-2">
  <p>
    This function can only be accessed if you are logged in to OpenREM with admin
    permissions.
  </p>
  </div>
  </div>

{% endif %}




{% endblock %}


