<td>{{ study_date }}</td>
<td>{{ study_time }}</td>
<td>{{ patientmoduleattr |safe }}</td>
<td>{{ patientstudymoduleattr }}</td>
<td>{{ ctradiationdose }}</td>
<td>{{ ctaccumulateddosedata }}</td>
<td>{{ cteventdata |safe }}</td>
<td>{{ projectionxraydata }}</td>
<td>{{ accumxraydose }}</td>
<td>{{ accumfluoroproj |safe }}</td>
<td>{{ accummammo |safe }}</td>
<td>{{ accumcassproj |safe }}</td>
<td>{{ accumproj |safe }}</td>
<td>{{ irradevent |safe }}</td>
<td>{{ eventdetector |safe }}</td>
<td>{{ eventsource |safe }}</td>
<td>{{ eventmech |safe }}</td>