<form method="post">{% csrf_token %}
  {% if delete_equip %}
  Are you sure you want to delete this equipment table entry and associated studies?
  {% else %}
  Are you sure you want to delete all these studies?
  {% endif %}
  <input type="hidden" name="delete_equip" value="{{ delete_equip }}">
  <input type="hidden" name="equip_name_pk" value="{{ equip_name_pk }}">
  <input type="hidden" name="modality" value="{{ modality }}">
  <input type="submit" value="Delete" class="btn btn-danger"/>
  <button id="backButton" class="btn btn-default">Cancel</button>

  <script>
      $("#backButton").click(function (e) {
          e = e || window.event; // support  for IE8 and lower
          e.preventDefault(); // stop browser from doing native logic
          window.history.back();
      });
  </script>
</form>
