{% extends "remapp/base.html" %}

{% block headextras %}
  <script src="{{ STATIC_URL }}js/sorttable.js"></script>
{% endblock %}

{% block confnav %}
  <li class="dropdown active">{% endblock %}

{% block navhelp %}
  <li>
    <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_displaynames.html" target="_blank"
       data-toggle="tooltip" title="Display name documentation - opens in a new tab">
      Display name documentation
    </a>
  </li>
{% endblock %}

{% block toprow %}

  {% load pagination_tags %}

  <p>The entry in the unique equipment names table for these {{ modality }} studies looks like this
  </p>

  <table class="table table-bordered">
    <tr>
      <th>Display name</th>
      <th>User defined modality</th>
      <th>Institution</th>
      <th>Department</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Station name</th>
      <th>Serial no.</th>
      <th>Software version</th>
      <th>Gantry ID</th>
    </tr>
    <tr>
      <td>{{ equipment.display_name }}</td>
      <td>{{ equipment.user_defined_modality }}</td>
      <td>{{ equipment.institution_name }}</td>
      <td>{{ equipment.institutional_department_name }}</td>
      <td>{{ equipment.manufacturer }}</td>
      <td>{{ equipment.manufacturer_model_name }}</td>
      <td>{{ equipment.station_name }}</td>
      <td>{{ equipment.device_serial_number }}</td>
      <td>{{ equipment.software_versions }}</td>
      <td>{{ equipment.gantry_id }}</td>
    </tr>
  </table>

  <p>
    There are {{ studies.count }} studies in this list.
    {% if modality == "OT" %}
      This list is of studies that are not identified as being CT, fluoroscopy, mammography or radiography (DX and CR).
      The total number of studies associated with this equipment (before filtering out the modalities) is
      {{ count_all }}.
    {% endif %}
  </p>

    <ul>
    <li><a class="btn btn-danger" href="#" role="button">Delete all these studies</a>

  Why do this? If you have assigned a custom Display Name to this equipment (e.g. 'imported'), new studies coming in
      will fall into that display name...</li>
    <li><a class="btn btn-danger" href="#" role="button">Delete all these studies and the equipment names table entry</a></li>
    </ul>

{% endblock %}


{% block mainblock %}

  <table class="table table-bordered">
    <tr>
      <td colspan="2">General</td>
      <td colspan="2">Patient module</td>
      <td colspan="3">CT data</td>
      <td colspan="2">DX/RF/MG</td>
      <td colspan="4">Accumulated data</td>
      <td colspan="4">Irradiation event data</td>
    </tr>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>General</th>
      <th>Study</th>
      <th>Template</th>
      <th>Accumulated</th>
      <th>Events</th>
      <th>Template</th>
      <th>Accumulated</th>
      <th>Fluoro & DX</th>
      <th>Mammography</th>
      <th>Cassette based</th>
      <th>Projection</th>
      <th>General</th>
      <th>Detector</th>
      <th>Source</th>
      <th>Mechanical</th>
    </tr>
    {% for study in studies %}

      <script>
          $(document).ready(
              function get_review_data(json) {
                  $.ajax(
                      {
                          url: "/admin/review/study",
                          data: {
                              study_pk: '{{ study.pk }}',
                              csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                          type: "POST",
                          success: function (data) {
                              $('#row{{ study.pk }}').html(data);
                          }
                      }
                  )
              }
          )
      </script>
      <tr id="row{{ study.pk }}"></tr>
    {% endfor %}
  </table>
{% endblock %}