{% extends "remapp/base.html" %}


{% block headextras %}
{% if current %}
<meta http-equiv="refresh" content="1" />
{% endif %}
{% endblock %}


{% block navbar %}
            <li><a href="/openrem/ct">CT</a></li>
            <li><a href="/openrem/rf">Fluoroscopy</a></li>
            <li><a href="/openrem/mg">Mammography</a></li>
{% endblock %}

{% block exportnav %}
            <li class="active"><a href="/openrem/export">Exports</a></li>
{% endblock %}



{% block mainblock %}		
   {% load humanize %}


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.level == 40 %}danger{% elif message.level == 25 %}success{% endif %} fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% if message.level == 40 %}
                    <strong>Warning!</strong>
                {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    {% if current %}
    <h4>Import tasks in progress</h4>
    <table class="table table-striped">
        <th>Filename</th><th>Import started</th><th>No. records</th><th>Progress</th>
        {% for tsk in current %}
        <tr>
            <td>{{ tsk.sizefile.name }}</td>
            <td>{{ tsk.import_date|naturaltime }}</td>
            <td>{{ tsk.num_records }}</td>
            <td>{{ tsk.progress }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h4>Completed export tasks</h4>
    <form action="/openrem/deletefile/" method="POST">
    <table class="table table-striped">
        <th>File name</th><th>Import started</th><th>Import time</th><th>No. records</th><th>Download logfile</th><th>Delete?</th>
        {% for tsk in complete %}
        <tr>
            <td>{{ tsk.sizefile.name }}</td>
            <td>{{ tsk.import_date|naturaltime }}</td>
            <td>{{ tsk.processtime|floatformat:1 }}</td>
            <td>{{ tsk.num_records }}</td>
            <td>(coming)</a></td>
            <td>
                <div class = "checkbox">
                    <label>
                        <input type="checkbox" name="tsk{{ tsk.task_id }}" value="{{ tsk.task_id }}">
                    </label>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5"></td>
            <td>
            {% if complete.count > 0 %}
                <button type="submit" class = "btn btn-default">Delete</button>
            {% endif %}
            </td>
        </tr>
    </table>
    </form>

    
    <h3>Import log</h3>
    <p>
        {{ csvrecord.log|linebreaks }}
    </p>
    
	</body>

</html> 
{% endblock %}	
