{% extends "remapp/base.html" %}



{% block navbar %}
            <li><a href="/openrem/ct">CT</a></li>
            <li><a href="/openrem/rf">Fluoroscopy</a></li>
            <li><a href="/openrem/mg">Mammography</a></li>
{% endblock %}

{% block exportnav %}
            <li class="active"><a href="/openrem/export">Exports</a></li>
{% endblock %}



{% block mainblock %}		

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.level == 40 %}danger{% elif message.level == 25 %}success{% endif %} fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% if message.level == 40 %}
                    <strong>Warning!</strong>
                {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}



		<!-- Upload form. Note enctype attribute! -->
		<form action="/openrem/admin/sizeprocess/{{ csvid }}/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
            <table>
                <th>{{ form.height_field.label_tag }}</th>
                <th>{{ form.weight_field.label_tag }}</th>
                <th>{{ form.id_field.label_tag }}</th>
                <th>{{ form.id_type.label_tag }}</th>
                <tr>
                    <td>
                        {{ form.height_field.errors }}
                        {{ form.height_field }}
                    </td>
                    <td>
                        {{ form.weight_field.errors }}
                        {{ form.weight_field }}
                    </td>
                    <td>
                        {{ form.id_field.errors }}
                        {{ form.id_field }}
                    </td>
                    <td>
                        {{ form.id_type.errors }}
                        {{ form.id_type }}
                    </td>
                </tr>
            </table>
			<p><input type="submit" value="Submit" /></p>		</form>
		
	</body>

</html> 
{% endblock %}	
