{% extends "remapp/base.html" %}


{% block mainblock %}		

<form method="post">{% csrf_token %}

<table class="table table-striped">
        <th>Institution</th><th>Make | Model | Station name</th><th>Date</th><th>Study description | Accession number</th><th>Number of events</th><th>Dose Length Product Total mGy.cm</th>
        <tr>
            <td>{{ exam.general_equipment_module_attributes_set.get.institution_name }}</td>
            <td>
                {{ exam.general_equipment_module_attributes_set.get.manufacturer }} |
                {{ exam.general_equipment_module_attributes_set.get.manufacturer_model_name }} |
                {{ exam.general_equipment_module_attributes_set.get.station_name }}        
            </td>
            <td>{{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
            <td>
                <a href="/openrem/ct/{{ exam.id }}/">{{ exam.study_description }}</a> |
                {{ exam.accession_number }} |
                {{ exam.patient_study_module_attributes_set.get.patient_size|floatformat:0 }} cm |
                {{ exam.patient_study_module_attributes_set.get.patient_weight|floatformat:0 }} kg
            </td>
            <td>{{ exam.ct_radiation_dose_set.get.ct_accumulated_dose_data_set.get.total_number_of_irradiation_events }}</td>
            <td>{{ exam.ct_radiation_dose_set.get.ct_accumulated_dose_data_set.get.ct_dose_length_product_total|floatformat:2 }}</td>
        </tr>
</table>

    Are you sure you want to delete "{{ exam }}" ?
    <input type="submit" value="Submit" />
</form>


{% endblock %}	
